<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script src="~/Scripts/postsScripts.js"></script>
    <link rel="stylesheet" href="~/Content/styles.css">
</head>
<body>
    
    <script>

        var currentPage = 0;
        function InitForm() {
            $("#CreateForm").html("");
        }

        function NextPageFeed() {
            if ($('.next_link').hasClass('nextNewest')) {
                var nextPage = currentPage + 1;
                $.get("@Url.Action("GetPosts","Post")", { page: nextPage }).done(function (res) {
                    $("#MainContainer").append(res);
                    currentPage = nextPage;
                });
            }
            if ($('.next_link').hasClass('nextLiked')) {
                var nextPage = currentPage + 1;
                $.get("@Url.Action("GetPostsSortedByLikes", "Post")", { page: nextPage }).done(function (res) {
                    $("#MainContainer").append(res);
                    currentPage = nextPage;
                });
            }

        }


        function NextPageProfile() {
            var userid = $('.profileNick').data('user-id');
            var check = $('.myPosts').html();
            if (typeof check != "undefined") {
                var nextPage = currentPage + 1;
                $.get("@Url.Action("GetPosts","Profile")", { userId:userid, page: nextPage }).done(function (res) {
                    $('.myPosts').append(res);
                    currentPage = nextPage;
                });
                return;
            }
            if ($('.next_link').hasClass('nextNewestProf')) {
                var nextPage = currentPage + 1;
                $.get("@Url.Action("GetPosts","Profile")", { userId:userid, page: nextPage }).done(function (res) {
                    $("#MainContainer").append(res);
                    currentPage = nextPage;
                });
            }
            if ($('.next_link').hasClass('nextLikedProf')) {

                var nextPage = currentPage + 1;
                $.get("@Url.Action("GetPostsSortedByLikes", "Profile")", { userId: userid, page: nextPage }).done(function (res) {
                    $("#MainContainer").append(res);
                    currentPage = nextPage;
                });
            }

        }

        function AddLike() {
            var post = $(this).closest(".postInfo");
            var postId = post.data("post-id");
            var sel = ".postInfo[data-post-id=\"" + postId + "\"]";
            var elem = $(sel);

            var numOfLikes = $(this).closest(".postInfo").find(".exactlyNumberOfLikes").text();


            $.post('@Url.Action("LikePost", "Post")', { id: postId }).done(function (res) {
                if (res.Success) {
                    if (res.Added) {
                        elem.find('.likeImage').addClass('userLiked').removeClass('userDidntLike');
                        elem.find(".exactlyNumberOfLikes").text(parseInt(numOfLikes) + 1);
                    }
                    else {
                        elem.find('.likeImage').addClass('userDidntLike').removeClass('userLiked');
                        elem.find(".exactlyNumberOfLikes").text(parseInt(numOfLikes) - 1);
                    }

                }
            });
        }

        function Create() {
            $.get("@Url.Action("Create", "Post")").done(function (res) {
                $("#CreateForm").html(res);
                $("#CreateForm").show();
            });
        }

        function getFormData(selector) {
            var $form = $(selector);
            const unindexedArray = $form.find(':input').serializeArray();
            const indexedArray = {};

            $.map(unindexedArray, function (n) {
                indexedArray[n.name] = n.value.trim();
            });

            return indexedArray;
        }


        function ExistInit(a) {
            if (a == '0') {
                $(".next_link").hide();
            }
        }

        function openModalPost() {
            var postId = $(this).closest('.PostWrapper').data("post-id");

            $.ajaxSetup({ async: false });
            $.get("@Url.Action("GetPostFull", "Post")", { id: postId }).done(function (res) {
                $('.modal-body').append(res);
                $('.slider').slick({
                    nextArrow: $(".slideRight"),
                    prevArrow: $(".slideLeft"),
                    speed: 10,
                    swipeToSlide:true
                });
                $('.fix').removeClass('slick-hidden');

            });

            $('#postModal').modal('show');
            
            $('#postModal').on('shown.bs.modal', function () {
                $('.slider')[0].slick.refresh();
                $('.fix').removeClass('slick-hidden');
            });
        }


        $(function () {
            $("#postModal").on("hidden.bs.modal", function () {
                $('.modal-body').empty();
                $('body').css({'overflow-y':'auto'});
            });
            $(document).on("click", ".doLikeBlock", AddLike);
            $(document).on("click", ".PostImages,.PhotosCount,.PostCommentsCount,.PostDate", openModalPost);
            $(document).on("click", ".addCommentButton", SendCommentTextClick)
            $(document).on("click", ".newest,.moreLiked", SortForFeed)
            $(document).on("click", ".newestProf,.moreLikedProf", SortForProfile)
            $(document).on("click", ".nextNewest,.nextLiked", NextPageFeed)
            $(document).on("click", ".nextNewestProf,.nextLikedProf", NextPageProfile)
        });

        function SortForFeed() {
            if (!$('.moreLiked').hasClass('activeSortMode')) {
                $(".next_link").show();
                currentPage = 0;
                $('#MainContainer').empty();
                $.get("@Url.Action("GetPostsSortedByLikes","Post")").done(function (res) {
                    $("#MainContainer").append(res);
                    $('.next_link').removeClass('nextNewest');
                    $('.next_link').addClass('nextLiked');
                    $('.newest').removeClass('activeSortMode');
                    $('.moreLiked').addClass('activeSortMode');
                });
            }
            if (!$('.newest').hasClass('activeSortMode')) {
                $(".next_link").show();
                currentPage = 0;
                $('#MainContainer').empty();
                $.get("@Url.Action("GetPosts","Post")").done(function (res) {
                    $("#MainContainer").append(res);
                    $('.next_link').removeClass('nextLiked');
                    $('.next_link').addClass('nextNewest');
                    $('.moreLiked').removeClass('activeSortMode');
                    $('.newest').addClass('activeSortMode');
                });
            }
        }

        function SortForProfile() {
            var userid = $('.profileNick').data('user-id');
            if (!$('.moreLikedProf').hasClass('activeSortMode')) {
                $(".next_link").show();
                currentPage = 0;
                $('#MainContainer').empty();
                $.get("@Url.Action("GetPostsSortedByLikes","Profile")", { userId: userid }).done(function (res) {
                    $("#MainContainer").append(res);
                    $('.next_link').removeClass('nextNewestProf');
                    $('.next_link').addClass('nextLikedProf');
                    $('.newestProf').removeClass('activeSortMode');
                    $('.moreLikedProf').addClass('activeSortMode');
                });
            }
            if (!$('.newestProf').hasClass('activeSortMode')) {
                $(".next_link").show();
                currentPage = 0;
                $('#MainContainer').empty();
                $.get("@Url.Action("GetPosts", "Profile")", { userId: userid }).done(function (res) {
                    $("#MainContainer").append(res);
                    $('.next_link').removeClass('nextLikedProf');
                    $('.next_link').addClass('nextNewestProf');
                    $('.moreLikedProf').removeClass('activeSortMode');
                    $('.newestProf').addClass('activeSortMode');
                });
            }
        }

        function RenderCommentHtml(data) {
            var temp = $("#ComTemplate").html();
            var template = Hogan.compile(temp);
            return template.render(data);
        }

        function SendCommentTextClick(e) {
            e.preventDefault();

            var post = $(this).closest(".fullPostContainer");
            var comInput = post.find(".CommentText");
            var postId = post.data("post-id");

            $.post('@Url.Action("AddComment", "Post")', { postId: postId, commentText: comInput.val() }).done(function (res) {
                if (res.Success) {
                    post.find(".existingComments").append(RenderCommentHtml({ Comments: [res.Result] }))
                    comInput.val('');
                }


            });
        }

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Регистрация", "Registration", "User", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Логин", "Login", "User", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Лента", "Index", "Post", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Профиль", "Index", "Profile", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
