@model course1Folder.Models.UserWrapper

<div class="resultUserContainer" style="margin:20px">
    @if (Model != null)
    {
        <div class="row resultUserData" data-sub-to="@Model.Id">
            <div class="col-sm-4">
                <img onerror="this.src='@Url.Content("~/Content/user.png")'" src="@Url.Action("Avatar",new {Id=Model.Id })" style="width: 100%" title="Avatar" />
            </div>
            <div class="col-sm-8">
                <div class="row nickname">
                    <h4 style="display:inline-block">Ник:</h4> @Model.Nickname
                </div>
                <div class="row birthDate">
                    <h4 style="display:inline-block">Дата рождения:</h4> @Model.BirthDate
                </div>
                <div class="row subscribersCountBlock">
                    <h4 style="display:inline-block">Подписчиков:</h4> <div class="subscribersCountNumber" style="display:inline-block">@Model.SubscribersCount</div>
                </div>
                @if (Model.CurrUserSubed)
                {
                    <div class="row">
                        <button class="subscribeButton">Отписаться</button>
                    </div>
                }
                else
                {
                    <div class="row">
                        <button class="subscribeButton">Подписаться</button>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p class="userResponce">Пользователь не найден :(</p>
    }
</div>
